{% extends "app_160/base.html" %}

{% block content %}

			<div class="wrapper style2">
				<article id="work">
					<header>
						<h2>Stwórz podsumowanie, {{user}}</h2>
						<!-- <p></p> -->
					</header>
					<div class="container">
						<div class="row">

							<form action="" method="post">
								{% csrf_token %}
								{{ form }}
								<input type="submit" value="Submit" />
							</form>
						</div>
					</div>
					<footer>
						<p>Zainteresowany co tworzą ludzie?</p>
						<a href="#portfolio" class="button big scrolly">Zobacz prace</a>
					</footer>
				</article>
			</div>


{% endblock %}