{% extends "app_160/base_bootstrap.html" %}

{% block content %}
{% load static %}




        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
			    <div class="jumbotron">
                    <h1>Skrót</h1>
                    <p>pozostało ci 160 znaków</p>
                    <p>niech estetyka zyska na krótkiej i pięknej opowieści</p>
                    <a class="btn btn-primary" href="#about">Więcej!</a>
			    </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="sponsor">
                    <img src="{% static 'images\open-book2.png' %}" alt="open book"/>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="about">
            <div class="row">
                <div class="col-md-4">
                    <h3>Motywacja</h3>
                    <p>Ciężko przeczytać cały internet.  Na sieci są dobre artykuły,
                        których nigdy nie przeczytasz.  Nie pozwól rządzić przypadkowi.
                        Bądź na bieżąco z tym co ciekawe.  Twój rozwój w IT zależ głównie od Ciebie!
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images\victory.png' %}" alt="yes!"/>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3>Decyduj</h3>
                    <p>Po lekturze krótkiego tekstu o długości SMSa podejmij decyzję czy obejrzeć film, posłuchać podcasta lub przeczytać artykuł.  Wtedy poświęć na to więcej czasu.  Zajrzyj tu co piątek. Nie ma jak <strong>jeden dobry artykuł IT</strong> na piątek!</p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'images\lightbulb-idea.png' %}" alt="idea" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-right">
                    <img src="{% static 'images\person-learning-by-reading.png' %}" alt="read"/>
                </div>
                <div class="col-md-4">
                    <h3>Twórz</h3>
                    <p>Po przeczytaniu stwórz krótką recenzję.  Jak zainteresowałbyś kolegów po fachu tym materiałem.
                        Krótko i rzeczowo omów temat.  Pochwal się zainteresowaniami.</p>
                </div>
            </div>
        </div>

        <div class="well">

            <p>Co już stworzono?</p>
            <a class="btn btn-primary" href="/summary">Zobacz prace</a>
        </div>

{% endblock %}