{% extends "app_160/base_bootstrap.html" %}

{% block content %}
{% load static %}



      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Skrót</h1>
            <p class="lead">pozostało ci 160 znaków</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sponsor">
              t u jest m ie ejsce na twoja reklaem
            </div>
          </div>
        </div>


		<!-- Work -->
			<div class="wrapper style2">
				<article id="work">
					<header>
						<h2>160 znaków</h2>
						<!-- <p></p> -->
					</header>
					<div class="container">
						<div class="row">
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="icon featured fa-comments-o"></span>
									<h3>Motywacja</h3>
									<p>Ciężko przeczytać cały internet.  Na sieci są dobre artykuły, których nigdy nie przeczytasz.  Nie pozwól rządzić przypadkowi.  Bądź na bieżąco z tym co ciekawe.  Twój rozwój w IT zależ głównie od Ciebie!</p>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="icon featured fa-camera-retro"></span>
									<h3>Czytaj skróty, podejmij decyzje</h3>
									<p>Po lekturze krótkiego tekstu o długości SMSa podejmij decyzję czy obejrzeć film, posłuchać podcasta lub przeczytać artykuł.  Wtedy poświęć na to więcej czasu.  Zajrzyj tu co piątek. Nie ma jak <strong>jeden dobry artykuł IT</strong> na piątek!</p>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="icon featured fa-thumbs-o-up"></span>
									<h3>Zostań autorem, pokaż co czytasz</h3>
									<p>Po przeczytaniu stwórz krótką recenzję.  Jak zainteresowałbyś kolegów po fachu tym materiałem.  Krótko i rzeczowo omów temat.  Pochwal się materiałami.</p>
								</section>
							</div>
						</div>
					</div>
					<footer>
						<p>Zainteresowany co tworzą ludzie?</p>
						<a href="#portfolio" class="button big scrolly">Zobacz prace</a>
					</footer>
				</article>
			</div>


		<!-- Contact -->
			<div class="wrapper style4">
				<article id="contact" class="container 75%">
					<header>
						<h2>To dla ciebie.</h2>
						<p>Gdy czujesz że to prawda napisz.  Gdy czujesz że to coś innego to napisz.</p>
					</header>
					<div>
						 <div class="row">
							<div class="12u">
								<hr />
								<h3>Znajdź mnie na ...</h3>
								<ul class="social">
									<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
								</ul>
								<hr />
							</div>
						</div>
					</div>
				</article>
			</div>
	  </div>

{% endblock %}