{% extends "app_160/base_bootstrap.html" %}

{% block content %}

        <!-- <p></p> -->
    <div class="container">

        <div style="height: 30px"></div>
                {% for summary in summaries %}

<div class="col-md-12">
    <p class="lead">rekomendowane przez {{ summary.author }} </p>
    <blockquote class="blockquote">
        {{ summary.text }} || <a href="{{summary.url}}">Zobacz oryginał</a>
    </blockquote>
    <div><span class="badge">opublikowano {{ summary.created_at }} </span>
        <div class="pull-right">
            {% for tag in summary.tags %}
                <span class="label label-primary"> {{tag}}</span>
            {% endfor %}
        </div>
     </div>
    <hr>
</div>
                {% endfor %}
    </div>

{% endblock %}