{% extends "app_160/base_bootstrap.html" %}

{% block content %}

    <h3>Rekomendacje</h3>
        <!-- <p></p> -->
    <div class="container">
                {% for summary in summaries %}

<div class="col-md-12">
    <h3>źródło na XXX</h3>
    <p class="lead">rekomendowane przez {{ summary.author }} </p>
    <blockquote class="blockquote">
        {{ summary.text }}
    </blockquote>
    <div><span class="badge">opublikowano {{ summary.created_at }} </span>
        <div class="pull-right">
            {% for tag in summary.tags %}
                <span class="label label-primary"> {{tag}}</span>
            {% endfor %}
        </div>
     </div>
    <hr>
</div>
                {% endfor %}
    </div>

{% endblock %}