{% extends "app_160/base_bootstrap.html" %}

{% block content %}

		<!-- Work -->
			<div class="wrapper style2">
				<article id="work">
					<header>
						<h2>Lista podsumowań</h2>
						<!-- <p></p> -->
					</header>
					<div class="container">
						<table>
                            <tr>
                                <th>podsumowanie</th>
                                <th>tagi</th>
                                <th>link</th>
                                <th>autor</th>
                            </tr>
						{% for summary in summaries %}
                            <tr>
                                <td> {{ summary.text }} </td>
                                <td> {{ summary.tags }} </td>
                                <td> <a href="{{ summary.url }}">źródło</a> </td>
                                <td> {{ summary.author }} </td>
                            </tr>

						{% endfor %}

                        </table>
					</div>
				</article>
			</div>

{% endblock %}