{% extends "app_160/base_bootstrap.html" %}

{% block content %}
		<!-- Work -->
			<div class="wrapper style2">
				<article id="work">
					<header>
						<h2>Dziękujemy za podsumowanie, {{user}}</h2>
						<!-- <p></p> -->
					</header>
					<div class="container">
						<h3>Podsumowanie stworzone</h3>
					</div>
					<footer>
						<p>Zainteresowany tym, co tworzą ludzie?</p>
						<a href="/summary" class="button big scrolly">Zobacz prace</a>
					</footer>
				</article>
			</div>

{% endblock %}